{{!-- <header class="menu">
    <a href="http://localhost:3000/product"><label>Product</label></a>
    <a href="http://localhost:3000/providers"><label>Providers</label></a>
    <a href="http://localhost:3000/categories"><label>Categories</label></a>
</header> --}}
<div class="row">
    <div class="col-md-12">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
            <div class="panel-heading">
                Provider
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Provider Name</th>
                                <th>Provider Describe</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each providers}}
                            <tr>
                                <td>{{this.id}}</td>
                                <td>{{this.provider_name}}</td>
                                <td>{{this.provider_desc}}</td>
                                <td>
                                    <button class="btn" onclick="goDetail('{{this.id}}');">Edit</button>
                                    <button class="btn btn-delete"
                                        onclick="confirmDelete('{{this.id}}');">Delete</button>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <!--End Advanced Tables -->
    </div>
</div>

<script>
    const fetchAPI = async (url, option) => {
        const res = await fetch(url, option);
        return res.json();
    }
    const confirmDelete = (id) => {
        swal({
            title: "Xác nhận xóa?",
            text: "Xóa sẽ mất!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then(async (willDelete) => {
                if (willDelete) {
                    let url = `/san-pham/${id}`;
                    let option = {
                        method: 'DELETE'
                    }
                    let result = await fetchAPI(url, option);
                    if (result.status) {
                        swal("Xóa thành công!", {
                            icon: "success",
                        });
                        setTimeout(() => {
                            window.location.reload();
                        }, 1000);
                    } else {
                        swal("Xóa thất bại!", {
                            icon: "error",
                        });
                    }
                }
            });
    }

    const goDetail = (id) => {
        window.location.href = `/provider/${id}/detail`;
    }

</script>