<div class="wrapper">
    <div class="container1">
        {{#each products}}
        <div class="col1-md-3">
            <div class="card1 p-3">
                <div class="text-center">
                    <img src="{{this.image}}" width="200" height="180">
                </div>
                <div class="product-details">
                    <span class="font-weight-bold d-block">{{this.price}}</span>
                    <span>{{this.product_name}}</span>
                    <div class="buttons d-flex flex-row">
                        {{!-- <div class="cart"><i class="fa fa-shopping-cart"></i></div> --}}
                        <button onclick="confirmDelete('{{this.id}}');"
                            class="btn btn-delete cart-button btn-block">Delete</button>
                        <button onclick="goDetail('{{this.id}}');"
                            class="btn btn-success cart-button btn-block">Edit</button>
                    </div>
                    <div class="weight">

                        <small>{{this.category_name}}</small>

                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<script>
    const fetchAPI = async (url, option) => {
        const res = await fetch(url, option);
        return res.json();
    }
    
    const confirmDelete = (id) => {
        swal({
            title: "Xác nhận xóa?",
            text: "Xóa sẽ mất!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then(async (willDelete) => {
                if (willDelete) {
                    let url = `/san-pham/${id}`;
                    let option = {
                        method: 'DELETE'
                    }
                    let result = await fetchAPI(url, option);
                    if (result.status) {
                        swal("Xóa thành công!", {
                            icon: "success",
                        });
                        setTimeout(() => {
                            window.location.reload();
                        }, 1000);
                    } else {
                        swal("Xóa thất bại!", {
                            icon: "error",
                        });
                    }
                }
            });
    }

    const goDetail = (id) => {
        window.location.href = `/product/${id}/detail`;
    }

</script>